<%- include('composants/head') %>
<%- include('composants/menu') %> 
<body>
 <%- include('composants/entete') %>
 <div id="profil">
 <h2>Profil</h2>
 <% membres.forEach(elm => {%>
 <p><span><%= __('prenom') %>: </span><%=elm.prenom%></p>
 <p><span><%= __('nom') %>: </span><%=elm.nom%></p>
 <p><span><%= __('telephone') %>: </span><%=elm.telephone%></p>
 <p><span><%= __('courriel') %>: </span><%=elm.courriel%></p>
 <p><span><%= __('ville') %>: </span><%=elm.ville%></p>
 <p><span><%= __('emploi') %>: </span><%=elm.emploi%></p>
 <p><span><%= __('loisir') %>: </span><%=elm.loisir%></p>
 <% }) %>
 </div>
 <%- include('composants/footer') %>
</body>